# 5. JAR 파일 전송 (경로 문제를 피하기 위해 절대 경로 수준으로 파일 지정)
    - name: Copy JAR to EC2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: 22
        # 파일이 확실히 존재하는 위치를 직접 적어줍니다.
        source: "backend/build/libs/backend-0.0.1-SNAPSHOT.jar"
        target: "/home/ubuntu/app"
        # 경로 껍데기를 다 벗기고 파일만 넣기 위해 3을 지정합니다.
        strip_components: 3